.prodc-img {
  max-width: 100%;
  height: auto;
}
.catalogo {
  width: 90px;
  height: auto;
}
.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.catalogo {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
.uno {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.justify-content-lg-end {
  justify-content: flex-end !important;
}
.table-responsive {
  padding: 20px;
}
